section
  section
    h2 Nem tudo são flores
  section
    h2 Prós
    ul
      li.fragment Mais fáceis de serem implementados
      li.fragment Escalável
      li.fragment Reutilização
      li.fragment Minimiza SPOF (Single point of failure)
  section
    h2 Contras
    ul
      li.fragment Deploy mais complexo
      li.fragment Podem ser granulados demais
