section
  section
    h2 Escolhendo a arquitetura ideal para seu problema
  section
    h2 Arquiteturas mais conhecidas
    ul
      li.fragment REST
      li.fragment RPC
      li.fragment GraphQL
      li.fragment SOAP
