section
  section
    h2 Revolução frontend e novas tecnologias
  section
    img(src="../img/react-logo.png")
  section
    img(src="../img/vue-logo.png")
  section
    img(src="../img/angular-logo.png")
