doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/titulo
        include ../slides/rest-rpc-soap-graphql
        include ../slides/pros-contras
        include ../slides/monolito-ou-microservicos
        include ../slides/tecnologias-front
        include ../slides/separando-as-aplicacoes
        include ../slides/show-me-the-code
    include inc/scripts
